#
# python libraries required by CPlantBox
#
plotly==4.1.1
matplotlib==3.1.2
numpy==1.18.1 
scipy==1.4.
pandas==0.24.2

jupyter_dash 
jupyterlab_dash
dash
dash_core_components
dash_html_components
dash.dependencies